@import url(root.css);

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: calc(100% - var(--side-width));
    max-width: calc(100% - var(--side-width));
    height: auto;
    background-color: #575757;
    color: #fff;
    margin-left: var(--side-width);
    padding: 12px;
    box-sizing: border-box;
}

footer a {
    color: #fff;
}

footer div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

footer a:hover {
    text-decoration: underline;
}