@import url(root.css);

header {
    min-width: 100%;
    max-width: 100%;
    min-height: var(--header-height);
    max-height: var(--header-height);
    background-color: #ffffff;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header input[type="checkbox"] {
    display: none;
}

header h2 {
    margin-left: calc(var(--side-width)/2 - 2px);
    color: var(--accent);
}

header li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header li:hover {
    text-decoration: underline;
    color: var(--accent);
}

header .active {
    background-color: var(--accent);
    padding: 6px;
    box-sizing: border-box;
    border-radius: 10px;
    color: #fff;
}

header .active:hover {
    color: #fff;
}

header label {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin-left: 14px;
}

header nav ul {
    display: none;
    flex-direction: row;
    align-items: center;
    gap: 6vw;
}

header label span {
    background-color: var(--accent);
    min-width: 24px;
    max-width: 24px;
    min-height: 4px;
    max-width: 4px;
    border-radius: 50px;
}

header nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6vw;
    margin-right: 32px;
    font-size: 20px;
}