@import url(root.css);

header {
  min-height: var(--header-height);
  max-height: var(--header-height);
  width: 100%;
  background-color: var(--header);
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  gap: 20px;
}

main {
  margin-top: var(--header-height);
}

header a {
  color: #000000;
  text-align: center;
  padding: 10px 22px;
  text-decoration: none;
  font-size: 17px;
  margin-left: 8px;
  margin-right: 8px;
}

header a:hover {
  background-color: #029ba5;
  color: rgb(255, 255, 255);
  border-radius: 10px;
}

header a.active {
  background-color: #029ba5;
  color: white;
  border-radius: 10px;
}