@import url(root.css);

header {
    min-height: var(--header-height);
    max-height: var(--header-height);
    width: 100%;
    background-color: var(--header);
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    color: var(--vgf);
}

main {
    margin-top: var(--header-height);
}