@import url(root.css);

main section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 20px;
    box-sizing: border-box;
    background-color: transparent;
}

main section div {
    border-radius: 0px 0px 10px 10px;
    padding: 14px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}

main section h3 {
    border-radius: 10px 10px 0px 0px;
    padding: 6px;
    background-color: var(--accent);
    color: #fff;
    padding-left: 14px;
}