@import url(root.css);

main #index_sect {
    background-image: url(../img/frankfurt-am-main-gfb8fbfaf6_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    max-width: 100%;
    min-height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

main #index_sect img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    outline: 4px solid #fff;
    min-width: none;
    max-width: 60vw;
    margin-top: 10%;
}

main #index_sect img:hover {
    outline: 4px solid var(--accent);
}