@import url(root.css);

main #index_sect {
    background-image: url(../img/frankfurt-am-main-gfb8fbfaf6_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    max-width: 100%;
    min-height: calc(100vh - var(--header-height) - 44px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

main #index_sect .title-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    outline: 4px solid #fff;
    max-width: 20vw;
    max-height: 20vw;
    margin-top: 10%;
    aspect-ratio: 1/1;
    overflow: hidden;
}
main #index_sect .title-image-wrapper img {
    width: 100%;
    height: 100%;
}

main #link_sect {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    align-items: center;
    justify-content: center;
    min-height: 44px;
    max-height: 44px;
    box-sizing: border-box;
    background-color: #e9e9e9;
}


.rotate {
    animation: rotate 2s infinite forwards linear;
}

.rotate > * {
    animation: rotate 2s infinite backwards linear;
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}