@import url(root.css);

@media screen and ((max-width: 700px)/*  or (max-height: 600px) */) {
    header label {
        display: flex;
    }

    header nav {
        flex-direction: column;
        display: none;
        position: fixed;
        top: var(--header-height);
        gap: 0px;
        background-color: #00607e;
        min-height: calc(100vh - var(--header-height));
        padding: 0px;
        border-radius: 0px 0px 20px 20px;
    }

    header .active {
        padding: 0px;
        background-color: #007295;
        border-radius: none;
        margin: 0px;
        border-radius: 0px;
        max-width: 100vw;
        min-width: 100vw;
    }

    header nav li {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        min-height: 40px;
        max-height: none;
    }

    header nav > li a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        min-width: calc(100vw);
        max-width: calc(100vw);
        min-height: 60px;
        background-color: #00607e;
    }

    header nav>li a:hover {
        color: #fff;
    }

    main #index_sect img {
        min-width: 60vw;
        max-width: 60vw;
        margin-top: 20%;
    }

    header h2 {
        margin-right: 14px;
    }
}

@media screen and ((max-width: 1200px) or (max-height: 900px)) {
    main #index_sect img {
        max-width: 30vw;
        min-width: 30vw;
        margin-top: 0%;
    }
}

@media screen and (max-width: 1000px) {
    main {
        min-width: calc(100%);
        max-width: calc(100%);
        margin-left: 0px;
    }

    footer {
        min-width: calc(100%);
        max-width: calc(100%);
        margin-left: 0px;
    }

    .side_sect {
        display: none;
    }

    main #link_sect {
        flex-direction: column;
        gap: 6px;
        box-sizing: border-box;
        padding: 0px;
        margin: 0px;
    }
}