@import url(root.css);

.side_sect {
    background-color: var(--vgf);
    min-width: 40px;
    max-width: 40px;
    min-height: calc(100% - var(--header-height));
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    flex-direction: column;
    gap: 4vh;
}

main {
    min-width: calc(100vw - 40px);
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    margin-left: 40px;
}

footer {
    margin-left: 40px;
}

@media screen and ((max-height: 920px) or (max-width: 1600px)) {
    main {
        margin-left: 0;
        min-width: calc(100%);
        max-width: calc(100%);
    }

    main section {
        min-width: calc(100%);
        max-width: calc(100%);
    }

    footer {
        margin-left: 0;
        min-width: 100%;
        max-width: 100%;
    }

    .side_sect {
        display: none;
    }
}