@import url(root.css);

.side_sect {
    background-color: var(--vgf);
    min-width: 40px;
    max-width: 40px;
    min-height: calc(100% - var(--header-height));
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    flex-direction: column;
    gap: 4vh;
}

main {
    margin-left: 40px;
}

footer {
    margin-left: 40px;
}

@media screen and (max-height: 900px) {
    main {
        margin-left: 0;
    }

    footer {
        margin-left: 0;
    }

    .side_sect {
        display: none;
    }
}