@import url(root.css);

main{
    max-width: 100%;
    min-height: calc(100vh - var(--header-height));
}

main .video_sect {
    border-top: 2px solid #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    min-width: 100%;
    overflow-x: scroll;
    box-sizing: border-box;
}

main .split_sect {
    max-width: 100%;
    background-color: #e0e0e0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main .split_sect .bgimg {
    min-width: 50vw;
    max-width: 50vw;
}

main .split_sect .content {
    padding: 20px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

main .split_sect .content * {
    font-size: 18px;
}

@media  screen and (max-width: 900px) {
    main .split_sect {
        flex-direction: column;
    }

    main .split_sect .bgimg {
        min-width: 100%;
        max-width: 100%;
    }
}

@media  screen and (max-width: 1700px) {
    main .video_sect {
        flex-direction: column;
    }
}

@media  screen and (max-width: 900px) {
    main .video_sect iframe {
        min-width: 100%;
        max-width: 100%;
        height: auto;
        aspect-ratio: 16/9;
    }
}